<div style="width:600px; margin: 0 auto;">
<h1>All Posts</h1>
<%= link_to 'New post', new_post_path %> 
<br><br>
<table> 
<% @posts.each do |post| %>
  <tr>
    <td><strong><%= post.title %></strong></td>
  </tr>
  <tr>
    <td style="width:600px;"><%= post.text %></td>
  </tr>
  <tr>
    <td><%= link_to 'Show', post %>  |
        <%= link_to 'Edit', edit_post_path(post) %>  |
        <%= link_to 'Delete', post_path(post),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
                    <br><br></td>
  </tr>
<% end %>
</table>
</div>