<div style="width:500px;">
	<h2><%= @post.title %></h2> 
	<p><%= @post.text %></p>
</div>

<br>


<p>Total Votes:
<span class="vote_count"><%= @post.votes_total %></span>
</p>
<%= button_to '+1', post_votes_path(@post, direction: 'up') %>
<%= button_to '-1', post_votes_path(@post, direction: 'down') %>

<br> 
<p><strong><u>Comments:</u></strong></p>
<%= render @post.comments %>

<table style="border: 1px solid black; width:200px;">
<tr>
  <td>
	<p><strong>Add a comment:</strong></p>
	<%= render "comments/form" %>
 </td>
</tr>
</table>

<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Back to Posts', posts_path %>	