<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>
<br> 
<h4>Comments:</h4>
<%= render @post.comments %>
 
<br>
<table border="1" width="200px">
<tr>
  <td>
<h4>Add a comment:</h4>
<%= render "comments/form" %>
 </td>
</tr>
</table>
<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Back to Posts', posts_path %>