<div style="width:500px;">
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>
</div>
<br>
<!-- <a href="">+1</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="">-1</a> -->

<p>Total Votes:
<span class="vote_count"><%= @post.votes_total %></span>
</p>
<%= button_to '+1', post_votes_path(@post, direction: 'up') %>
<%= button_to '-1', post_votes_path(@post, direction: 'down') %>

<br> 
<p>Comments:</p>
<%= render @post.comments %>
<table border="1" width="200px">
<tr>
  <td>
<h4>Add a comment:</h4>
<%= render "comments/form" %>
 </td>
</tr>
</table>
<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Back to Posts', posts_path %>